<div class="row">
  <div class="col-sm-9">
    <%= link_to 'New Entry', new_user_entry_path(current_user), class: "btn btn-primary" %>
  </div>
</div>

<div class="row">
  <div 
    class="col-sm-3" 
    data-component="EntriesTable" 
    data-props="<%= json_escape({ entries: @serialized_entries }.to_json) %>">
  </div>

  <div class="col-sm-9">
    <!-- div id="interactive-chat" data-component="InteractiveChat"></div -->
    <div id="advanced-interactive-chat" data-component="AdvancedInteractiveChat"></div>
  </div>
</div>